<h4>Events des Vereins</h4>
<div class="row">
	<div class="pull-right form-inline">
		<div class="btn-group">
			<button class="btn btn-sm" data-calendar-view="month">Monat</button>
			<button class="btn btn-sm" data-calendar-view="day">Tag</button>
			<button class="btn btn-sm" data-calendar-nav="prev"><<</button>
			<button class="btn btn-sm" data-calendar-nav="today">Heute</button>
			<button class="btn btn-sm" data-calendar-nav="next">>></button>
		</div>
	</div>
</div>
<div class="row">
	<div id="calendar"></div>

</div>
<div class="row">
	<h4>Gewinne Freikarten!</h4>
	<a href="#"> <img class="img-responsive" alt="Neues Quiz!"
		src="/public/images/quiz.jpg"> </img>
	</a>
</div>
<script type="text/javascript"
	src="/public/javascripts/jstz-1.0.4.min.js"></script>
<script type="text/javascript" src="/public/javascripts/de-DE.js">
	
</script>
<script type="text/javascript" src="/public/javascripts/calendar.js">
	
</script>
<script type="text/javascript" src="/public/javascripts/app.js">
	
</script>