#{extends 'main.html' /} #{set title:'show.html' /}
<div class="container">
	<div class="col-xs-9">
		#{include 'Events/event.html'/}
	</div>
	<div class="col-xs-3">
		#{include 'tags/sidebar.html' /}
	</div>
</div>

<script type="text/javascript"
	src="/public/javascripts/jstz-1.0.4.min.js"></script>
<script type="text/javascript" src="/public/javascripts/de-DE.js">
		</script>
<script type="text/javascript" src="/public/javascripts/calendar.js">
		</script>
<script type="text/javascript" src="/public/javascripts/app.js">
		</script>
